html,
body,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
form,
input,
div {
  margin: 0;
  padding: 0;
}
.App {
  font-family: sans-serif;
  text-align: center;
}

.products {
  color: #6ba3f8;
  text-align: center;
  font-family: Noto Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.4px;
  margin: 93px 95px 10px 95px;
  height: 46px;
}
.product-contents {
  padding: 10.64px 21.67px 33.69px 21.67px;
}
.product-contents p {
  color: #000;
  text-align: center;
  font-family: Noto Sans;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.2px;
  display: flex;
  width: 78.867px;
  height: 16.847px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
}
.product-list {
  display: flex;
  border-radius: 15px; /* 角を丸くする */
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.25);
  margin: 10px 15px 114px 20px;
  width: 130px;
  height: 133px;
}
.search-form-002 {
  margin: 0 45px 57px 45px;
}
.searchmore {
  display: flex;
  height: 46px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #6ba3f8;
  text-align: center;
  font-family: Noto Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.4px;
  padding: 14px 95px 14px 95px;
  text-align: center;
}
